.imagemHome {
    background: url(../Imagens/fundoHome.jpg) 
    center center no-repeat;
    margin-top: 400px;
    
    
}

.Titulo {
    color: #033aa0;
    font-size: 700%;
    text-align: center;
    padding-top: 200px;
    padding-bottom: -50px;
    
}
.intro {
    color: black;
    
    padding-left: 500px;
    padding-right: 500px;
    text-align: center;
    font-size: 200%;
}
/* Perfil do doutor Rizzo */
.box{
    
    position: absolute;
    box-shadow: 1px 10px 20px 1px black;
    opacity: 0.4;
    margin-left: 70px;
    border-radius: 100px;
    width: 40vw;
    height: 70vh;
    background: #6495ED;
}
.description {
    position: absolute;
    margin-top: 260px;
    margin-left: 310px; 
    z-index: 10;
}
.nome {
    font-size: 250%;
    
}
.cro{
    margin-left: 70px;
}
.bio {
    font-size: 200%;
    text-align: center;
    z-index: 100;
    position: absolute;
    left: 20px;
    padding-right: 300px;
    margin-top: 460px;
    margin-left: 103px; 
    margin-right: 810px;
}

/* Perfil da doutora Rizzo */
.box2 {
    position: absolute;
    right: 6px;
    box-shadow: 1px 10px 20px 1px black;
    opacity: 0.4;
    margin-left: 350px;
    margin-right: 70px;
    border-radius: 100px;
    width: 40vw;
    height: 70vh;
    background: #6495ED;
}
.description2 {
    position: absolute;
    margin-top: 260px;
    margin-left: 1295px; 
    z-index: 10;
}
.nome2{ 
    font-size: 250%;
    
}
.cro2{
    margin-left: 95px;
}
.bio2 {
    font-size: 200%;
    text-align: center;
    z-index: 100;
    position: absolute;
    left: 20px;
    padding-right: 100px;
    margin-top: 460px;
    margin-left: 1100px; 
    margin-right: 30px; 
    
}