
.Menu_bar {
    box-shadow: 2px 2px 32px black;
    display: flex;
    width: 100%;
    height: 280px;
    border-radius: 10px;
    background-color: #6495ED;
}
.Home {
    
    padding-top: 200px;
    padding-right: 60px;
    
    font-size: 200%;
}
.Home a {
    text-decoration: none;
    color:black;
}
.Home a:hover{
    color:white;
}

.Servicos {
    padding-top: 200px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 200%;
}
.Servicos a{
    text-decoration: none;
    color: black;
}
.Servicos a:hover{
    color: white;
}
.Sobre {
    padding-top: 200px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 200%;
}
.Contato{
    padding-top: 200px;
    padding-left: 60px;
    font-size: 200%;
}

.logo {
    display: flex;
    padding-right: 400px;
    padding-inline-start: 100px;
}
