h1 {
    text-align: center;
    font-size: 300%;
    color: black;
    padding-top: 40px; 
    background-color: #6495ED;
    width: 100%;
    height: 100px;
    box-shadow: 2px 2px 20px 2px black;
}
.box {
    opacity: 0.5;
    display: flex;
    position: absolute;
    width: 1700px;
    height: 1000px;
    background-color: grey;
    margin-left: 100px;
    border-radius: 40px;
    
}

.discription {
    position: absolute;
    z-index: 100 !important;
    text-align: center;
    font-size: 150%;
    margin-right: 200px;
    margin-left: 200px;
}